{% if site.theme.github %}
<li>
	<a class="social github" href="https://github.com/{{ site.theme.github }}" title="{{ site.theme.str_follow_on }} GitHub"></a>
</li>
{% endif %}

{% if site.theme.twitter %}
<li>
	<a class="social twitter" href="https://twitter.com/{{ site.theme.twitter }}" title="{{ site.theme.str_follow_on }} Twitter"></a>
</li>
{% endif %}

<!--
{% if site.theme.email_address %}
<li>
	<a class="social email" href="mailto:{{ site.theme.email_address }}" title="{{ site.theme.str_email }}"></a>
</li>
{% endif %}
-->

{% if site.theme.rss %}
<li>
	<a class="social rss" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.theme.str_rss_follow }}"></a>
</li>
{% endif %}